.list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.listItem {
    text-decoration: none;
    padding: 1.5rem;
    color: #202121;
    font-size: 1.6rem;
}

.active {
    background: #e3e3e6;
    margin: 0.3rem;
    border-radius: 0.5rem;
}