.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background-color: #202121;
}

.headingLogo {
    font-size: 2rem;
    color: #f2f2f2;
    font-weight: 400;
}